# Виртуальное окружение
.venv/
venv/
env/

# База данных
database/bot.db
database/*.db

# Секретные данные
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
